.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* или flex-start */
  padding: 20px;
}

.test1{

    /* Каталог фильмов */

position: absolute;

left: 56px;
top: 150px;

font-family: 'Poppins';
font-style: normal;
font-weight: 900;
font-size: 60px;
line-height: 96px;

color: #000000;


}

.sort-container {
  text-align: center;
  margin-bottom: 20px;
}

.sort-select {
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
